/* olympiad-main */

.vertical-line {
    height: 25px;
}

.olympiad-main {
    margin: 25px 400px;
}

.olympiad-info {
    display: flex;
    gap: 0px;
    align-items: left;
    color: #185c8f;
    flex-direction: column;
}

.olympiad-info > h1 {
    font-size: 32px;
    color: #185c8f;
    margin: 0;
    margin-top: 20px;
}

.content {
    overflow-wrap: break-word;
    margin-bottom: 25px;
}

.content h1, .content h2, .content h3 {
    color: #185c8f;
}

.content p {
    font-size: 22px;
    text-align: justify;
    margin-bottom: 0;
}

.content img {
    margin: 10px 0;
    max-width: 45%;
    height: auto;
    border-radius: 10px;
    margin-right: 5%;
    float: left;
    border: 3px solid #185c8f;
}

.content figure {
    max-width: 60%;
}

.register-btn button {
    color: white;
    background-color: #185c8f;
    border: 2px solid #185c8f;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    outline: none;
    transition: all 0.2s ease-in;
}

.register-btn button:hover {
    font-weight: 600;
    background-color: red;
    border-color: red;
    cursor: pointer;
}

.participants {
    margin-top: 25px;
    padding: 20px;
    border: 3px solid #185c8f;
    border-radius: 10px;
}

.participants > h1 {
    margin: 0;
    margin-bottom: 10px;
    color: #185c8f
}

/* olympiad-main */

